@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 26px;
font-style: normal;
margin-right: 10px;
color: #484848;
}
.flaticon-team:before {
	content: "\e000";
}
.flaticon-discussion:before {
	content: "\e001";
}
.flaticon-ads:before {
	content: "\e002";
}
.flaticon-vacancy:before {
	content: "\e003";
}
