/*Roboto font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

html {
    height: 100%;
}

body {
    color: #444;
    background: #fff;
    font-family: RobotoDraft, Roboto, sans-serif;
    height: 100%;

}

a {
    color: #00A9E0;
}

.mr-a10 {
    margin-top: 10px;
}

.mr-a30 {
    margin-top: 30px;
}

.pd-a80 {
    padding-top: 80px;
}

.material-icons {
    vertical-align: middle;
    padding-right: 10px;
}

label {
    font-weight: 500;
}

.btn {
    text-transform: uppercase;
    border: none;
    border-radius: 2px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-primary {
    background-color: #00A9E0 !important;
}

.btn-fblogin {
    background-color: #3b5998;
    color: #fff;
    padding: 16px 0;
}

.header {
    box-shadow: rgba(0, 0, 0, .1) 0 1px 2px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 85px;
    z-index: 9999;
}

.header nav {
    border-bottom: 0px;
    margin: 0px;
    padding: 20px 0 0;
}

.navbar {
    background-color: transparent !important;
    border-radius: 0;
}

.navbar-nav {
    padding-top: 6px;
}

.top-nav-collapse {
    background-color: #00A9E0 !important;
    /*padding: 5px 0 !important;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Small Devices, Tablets */
@media only screen and (max-width: 320px) {
    .navbar {
        background-color: #212121 !important;
    }

    .content {
        margin-top: 155px !important;
    }

    .btn-group-lg > .btn, .btn-lg {
        font-size: 12px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #212121 !important;
    }
}

@media (min-width: 767px) {
    .navbar-fixed-top {
        background-color: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        z-index: 999;
    }

    .navbar-fixed-top .navbar-nav > li {
        color: #666666;
        font-size: 20px;
        transition-duration: 1s;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: inherit;
    }

    .top-nav-collapse .navbar-nav > li > a {
        color: #fff;
        transition-duration: 1s;
        font-size: 20px;
    }
}

.navbar-brand a {
    color: #00A9E0;
    font-weight: 500;
}

.navbar-brand span {
    color: #fff;
    font-weight: 100;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-toggle .icon-bar {
    width: 35px;
    border-radius: 0;
    height: 4px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #00A9E0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus span, .navbar-default .navbar-toggle:hover span {
    background-color: #484848;
}

.navbar-collapse a:hover {
    color: #fff;
}

.navbar-toggle {
    border-radius: 0;
}

.navbar-default {
    border: 0px solid transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #eee;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding: 9px 14px;
    margin-right: 20px;

}

.navbar-default .navbar-nav li a:hover {
    color: #484848;
    transition: 0.1s ease-in-out;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    font-weight: bold;
    font-size: 30px;
    color: #484848;
    text-transform: uppercase;
}

a:focus {
    outline: none;
}

.adContainer {
    border-top: 0px;
    padding: 10px 0;
    margin: auto 0px auto 0px;
}

/*slider*/

@media screen and (min-width: 768px) {
    .carousel-caption {
        left: 15%;
        top: 27%;
        text-align: left;
    }

    .carousel-caption p {
        font-size: 19px;
        line-height: 30px;
        margin-top: 12px;
        font-weight: 300;
    }

    .carousel-caption h1 {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 100;
    }
}

.btn-lm {
    background-color: transparent;
    border: 1px solid #fff;
}

button.btn-lm:hover {
    border-color: #00a9e0;
    background-color: #00a9e0;
    color: #fff;
}

.mar-t-15 {
    margin-top: 15px;
}

.pad-0 {
    padding: 0px;
}

.pad-r-0 {
    padding-right: 0px;
}

.slider-overlay {
    background: rgba(0, 0, 0, .5);
    /*    background-image: url('../img/pattern.png');
        background-repeat: repeat;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*search bar*/
.searbar {
    display: block;
    clear: both;
    background-color: #00a9e0;
    min-height: 100px;
    line-height: 76px;
    position: absolute;
    width: 100%;
}

.searbar .form-control {
    margin-top: 23px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 10px 15px;
    /*text-transform: uppercase;*/
    background-color: #fff;
    color: #00A9E0;
    height: 52px;
    font-size: 16px;
    border-color: #fff;
}

.searbar .form-control input[type="text"] {
    color: #fff !important;
}

.searbar .btn-search {
    padding: 12px 30px;
    margin-top: 17px;
    text-transform: uppercase;
    background-color: #fff;
    color: #555;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid #fff;
}

.searbar .btn-search:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #e1e1e1;
    transition: 0.1s ease-in-out;
}

/*content*/
.content {
    min-height: 900px;
    padding-top: 15px;
    margin-top: 120px;
    background: #FFF;
}

.left-tab {
    padding-left: 0;
}

/*content tab*/

.yama-tab {
    display: inline-block;
}

.yama-tab li a {
    border-radius: 2px;
    padding: 10px 25px;
}

.yama-tab li a:hover,
.yama-tab li.active a,
.yama-tab li.active a:hover,
.yama-tab li.active a:focus,
.yama-tab li.active a:visited {
    color: #fff;
}

.yama-tcontent {
    border: none;
    border-top: 0px;
}

.left-tab li.job-list:last-child {
    border-bottom: 0px;
    padding-bottom: 0;
}

a.job_listing-link .logo img {

    min-width: 48px;
    width: 100%;
}

.position h3 {
    margin: 0;
    font-size: 17px;
    color: #484848;
}

.company,
.date {
    font-size: 90%;
    color: #777;
    margin-top: 7px;
}

.location:before {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f041";
    text-align: center;
    margin-right: 8px;
}

.job-type {
    padding: 2px 6px;
    text-align: center;
    font-size: 89%;
    text-transform: uppercase;
    display: inline;
}

.job-list {
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid #ddd;
}

.job-list a,
.dis-list a {
    color: #555;
}

.part-time {
    background-color: #FF787C;
    color: #fff;
}

.full-time {
    background-color: #57DDC2;
    color: #fff;
}

.freelance {
    background-color: #1EAADF;
    color: #fff;
}

/*button*/
.view-more {
    background: #00A9E0 !important;
    color: #fff !important;
    padding: 16px 35px;
    border-radius: 50px;
}

.view-more:hover,
.view-more:focus {
    background: #019CCF;
    text-shadow: none;
    color: #fff;
    transition: 0.1s ease-in-out;
}

/*discussion*/

.avatar img {
    width: 55px;
    border-radius: 50%;
    background-color: #eeeeee;
    padding: 2px;

}

.dis-list .title {
    padding-left: 20px;
}

.dis-list .title h3 {
    margin-top: 7px;
    font-size: 14px;
    margin-bottom: 2px;
    color: #484848;
}

.dis-meta li {
    float: left;
    margin-right: 14px;
    font-size: 80%;
    color: #888;
}

li.dis-list {
    padding: 16px 10px;
    border-bottom: 1px solid #ddd;
}

li.dis-list:last-child {
    border-bottom: 0px;
    padding-bottom: 0;
}

/*Classified*/
/*Classified*/
.classified-list li a {
    color: #555;
    display: table;
    width: 100%;
}

img.c_img {
    display: block;
    float: left;
    margin-right: 2%;
    width: 38%;
}

.list-dis {
    text-align: left;
    display: block;
    float: left;
    width: 60%;
}

.list-dis h3 {
    margin: 8px 0;
    font-size: 17px;
    color: #484848;
}

span.price {
    display: inline-block;
    padding: 2px 22px;
    background-color: #00A9E0;
    color: #fff;
    font-size: 13px;
    margin-top: 7px;

}

.classified-meta li {
    display: inline-block;
    margin-right: 10px;
    color: #888;
    font-size: 85%;
}

.classified-meta {
    display: table;
    width: 100%;
}

ul.list-unstyled.classified-list > li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

ul.list-unstyled.classified-list > li:last-child {
    border-bottom: 0 solid transparent;
}

.footer {
    min-height: 50px;
    background-color: #00A9E0;
    line-height: 65px;
    color: #fff;
    vertical-align: middle;
}

.footer-logo {
    margin-bottom: 10px;
}

.socket {
    background-color: #00A9E0;
}

.socket .container {
    position: relative;
}

.site-info {
    margin-bottom: 0;
    padding: 20px 0;
    text-align: left;
    width: 50%;
    float: left;
    color: #fff;
}

.bottom-social-icons {
    float: right;
    margin-bottom: 11px;
}

.bottom-social-icons i {
    color: #fff;
}

.bottom-social-icons a {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    width: 32px;
    height: 32px;
    line-height: 48px;
    transition: all 0.2s ease;
}

.social-links li {
    float: left;
}

.social-links li a {
    color: #fff;
    margin-right: 15px;
    font-size: 40x;
}

a.scroll-top {
    float: right;
    text-align: right;
    margin-top: 10px;
    color: #fff;
    font-size: 31px;
}

.modal-dialog {
    margin: 100px auto;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

/*login form*/
.login-form .form-control, .contact-us .form-control {
    border-radius: 0;
    box-shadow: none;
    border: none;
    height: 50px;
    font-size: 18px;
    border: 1px solid #e1e1e1;
}

.login-form input[type="email"] {
    background: #fff;
}

.login-header {
    padding: 25px 15px;
}

.login-form {
    max-width: 350px;
    margin: 20px auto;
    /*font-family: "Lato";*/
}

.login-form label {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #484848;
}

/*.modal-header .close {
    height: 22px;
    width: 22px;
    opacity: 0.8;
    color: #e1e1e1;
    text-shadow: none;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    line-height: 23px;
    display: block;
}

.modal-header .close {
    margin-top: -20px;
}

.modal-header .close:hover {
    color: #00A9E0;
}*/

.modal-title {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.btn-login {
    background: #00A9E0;
    color: #fff;
    padding: 7px 9px;
    border-color: #0399CA;
}

.btn-login:hover {
    color: #fff !important;
    background: #0399CA;
    border-color: #00A9E0;
}

.login-modal {
    max-width: 490px;
}

.modal-header .close:hover {
    opacity: 1;
}

/*.modal-header {
    background-color: #fff;
    text-align: center;
    color: #343434;
    border-radius: 0;
    border-bottom: none;
    border-bottom: 1px solid #e1e1e1;
}*/
.modal-header {
    background-color: #00A9E0;
    text-align: center;
    color: #fff;
    border-radius: 2px 2px 0px 0px;
}


.modal-content {
    border-radius: 0;
}

.glyphicon-chevron-left:before {
    content: "\f137";
    font: normal normal normal 26px/1 FontAwesome;
}

.glyphicon-chevron-right:before {
    content: "\f138";
    font: normal normal normal 26px/1 FontAwesome;
}

/*responsive*/
@media (max-width: 687px) {
    a.job_listing-link .logo img {
        width: 80px;
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;

    }

    .job-list, .dis-list {
        text-align: center;
    }

    .job-type {
        padding: 3px 6px;
        border-radius: 4px;
        text-align: center;
        font-size: 89%;
        text-transform: uppercase;
        line-height: 21px;
        display: table;
        width: 100%;
    }

    .location {
        margin: 10px 0px;
    }

    .view-more {
        margin-bottom: 15px;
    }

    .yama-tab, .dis-meta {
        margin: auto;
        display: table;
    }

    .pad-r-sm {
        padding-right: 15px !important;
    }

    .pad-sm {
        padding: 15px !important;
    }

    .searbar .btn-search {
        margin: 14px auto;
        display: table;
    }

    .xs-row {
        margin: 0px;
    }

    .btn-lm {

        padding: 4px 8px;
        font-size: 12px;
        border-radius: 2px;
        margin-top: 0 !important;
    }

    .header nav {
        padding-top: 10px;
    }

    .header {
        height: 70px;
    }

    a.scroll-top, .footer p, .social-links {
        float: none !important;
        text-align: center;
        display: block;
    }

    .social-links li {
        float: none;
        display: inline-block;
    }
}

/*new line of css start*/

/*top menu block start*/
#top-menu-block {
    border-bottom: 0px solid #e1e1e1;
}

#top-menu-block {
    background-color: #00A9E0;
    z-index: 999;
    position: relative;
}

#register-login-block-top {
    display: inline-block;
    margin-right: 20px;
    line-height: 30px;
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #fff !important;
}

#top-menu-block #register-login-block-top {
    margin: 0px;
}

#top-menu-block ul {
    padding-left: 0;
}

#register-login-block-top ul li {
    line-height: 48px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#register-login-block-top ul li a {
    color: #fff !important;

    font-size: 13px;
}

#register-login-block-top ul li a i {
    margin-right: 7px;
    color: #fff;
    font-size: 15px;
}

.first {
    margin-left: 0 !important;
}

ul.inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

ul.register-login-top {
    margin: 0;
}

#register-login-block-top ul li a:hover {
    text-decoration: none;
}

.top-right {
    float: right;
    line-height: 48px;
}

.top-right a {
    text-decoration: none;
    margin-left: 15px;
    padding: 3px 15px 5px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
}

.call-head {
    color: #fff;
}

.call-number {
    margin-right: 20px;
    color: #fff;
}

.top-social {
    float: left;
}

.top-social i {
    color: #fff;
    padding: 5px;
    line-height: 38px;
    display: inline-block;
}

.top-social a {
    padding: 3px;
}

.top-social a:hover {
    color: #eee;
    transition: 0.1s ease-in-out;
}

.top-social a:hover i {
    color: #eee;
}

.yama-tab li {
    font-size: 14px;
    cursor: pointer;
    background: #e1e1e1;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.active a {
    /*color: #fff !important;*/
}

.yama-tab li a {
    color: #484848;
    border: none;
    text-transform: uppercase;
    text-align: center;
}

.yama-tab > li > a {
    margin-right: 0 !important;
}

.yama-tab li a:hover {
    background: #019ccf;
    transition: 0.1s ease-in-out;
}

#top-footer {
    background-color: #fff;
    min-height: 250px;
    color: #484848;
    padding: 60px 0;
    border-top: 1px solid #e1e1e1;
}

.block-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.block-content ul {
    list-style: none;
    padding-left: 0;
}

.category-icon-box {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: #00A9E0;
    margin-top: 5px;
    margin-right: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.category-icon-box i {
    color: #fff;
    padding: 5px;
}

.gototop {
    position: absolute;
    right: 33px;
    bottom: 58px;
    z-index: 99999;
    background: #00A9E0;
}

.gototop a {
    float: right;
    color: #fff !important;
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: block;
    text-align: center;
}

/*carsoul slider*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

/*carsoul slider*/

.box-title {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: normal;
    color: #484848;
}

.box-header {
    text-align: center;
    width: 70%;
    margin: 0 auto 20px;
}

.box-header > .box-title {
    margin-top: 20px;
    text-align: center;
}

/*call out section*/
.callout-section {
    padding: 125px 0;
    text-align: center;
    margin-top: 40px;
    text-shadow: 0 1px 1px #333;
}

.callout {
    position: relative;
}

.callout-inner {
    line-height: 24px;
}

.callout-inner h4, .callout-inner h4 span {
    margin: 0;
    font-size: 48px !important;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 100;
    color: #fff;
}

.callout-inner p {
    margin: 20px 0px 30px;
    font-size: 32px !important;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
}

.callout .view-more-btn {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    position: relative !important;
    background: none;
}

.view-more-btn {
    width: 210px;
    height: 48px;
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    top: -29px;
    background: #fff;
}

.more-btn-inner {
    background: #f8f8f8;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 60px;
    -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
}

.more-btn-inner:hover {
    box-shadow: none;
}

.more-btn-inner a {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    display: block;
}

.callout-section .more-btn-inner a {
    font-weight: 700;
    display: block;
}

.more-btn-inner a:hover {
    color: #00A9E0;
    text-decoration: none;
}

.more-btn-inner a i {
    color: #333;
    margin-left: -5px;
    margin-right: 5px;
}

.more-btn-inner a:hover i {
    color: #fff;
}

.h2-seperator {
    height: 1px;
    width: 100px;
    background: #00A9E0;
    margin-bottom: 40px;
}

.sep-center {
    margin: 0 auto;
}

.ff-left {
    border-right: 1px solid #e1e1e1;
}

.modal-footer {
    padding: 0;
}

.ff-left {
    text-align: right;
}

.ff-right {
    text-align: left;
}

.ff-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    color: #343434;
    margin-top: 5px;
}

.ff-desc {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.btn-text-sign-in {
    background: none;
    text-transform: uppercase;
    padding: 0;
    font-size: 16px;
    border: 1px solid transparent;
}

.btn-text-sign-in:hover {
    color: #00A9E0;
    transition: 0.1s ease-in-out;
}

.btn-post {
    border-radius: 60px;
    background-color: #eee;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 auto;
    box-shadow: 0 1px 3px #343434;
    color: #343434;
}

.btn-post:hover {
    color: #00A9E0;
}

/*create classified*/

.create-classified form, .user-register form {
    text-align: left;
}

.create-classified .form-control, .user-register .form-control {
    height: 50px;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}

.create-classified label, .user-register label {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
}

.create-classified textarea, .user-register textarea {
    height: 100px !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.submit {
    width: 150px;
}

/*create classified end*/

.yama-pagination > li:last-child > a, .yama-pagination > li:last-child > span {
    border-radius: 2px;
}

.yama-pagination > li:first-child > a, .yama-pagination > li:first-child > span {
    border-radius: 2px;
}

.yama-pagination a {
    color: #00A9E0 !important;
}

.yama-pagination li a:hover, .yama-pagination li a:focus {
    background: #00A9E0;
    color: #fff !important;
    cursor: pointer;
}

.yama-pagination .active a {
    color: #fff !important;
    background-color: #00A9E0;
    border: none;
}

.yama-pagination > li > a, .yama-pagination > li > span {
    border: none;
    margin-left: 8px;
    border-radius: 2px;
    background: #eee;
}

/*go to top*/
.feedback{
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 69px;
    right: 125px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    /*overflow: hidden;*/
    /*text-indent: 100%;
    white-space: nowrap;*/
    /*background: rgba(0, 169, 224, 1) url(../images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;*/
    /*opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;*/
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 169, 224, 1) url(../images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1 !important;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #00A9E0;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 45px;
        bottom: 57px;
    }
}

/*team member section*/

[class*="-section"] {
    overflow: hidden;
}

.ow-section {
    padding-bottom: 50px;
}

.team-member {
    /*border:		1px solid green;*/
    position: relative;
    height: 320px;
}

.team-member-image {
    width: 100%;
    height: 320px;
}

.team-member-detail {
    background-color: rgba(0, 169, 224, 0.8);
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.team-member-section {
    margin-top: 30px;
}

.team-member-section .col-sm-6 {
    margin-bottom: 25px;
}

.team-member-section .team-inner {
    border: 1px solid #e1e1e1;
    display: block;
    position: relative;
}

.team-member-section .team-inner img {
    cursor: pointer;
}

.team-member-section .col-sm-6 img {
    width: 100%;
}

.team-member-detail-show {
    display: block;
    transition: 0.3s ease-in-out;
}

.team-member-heading {
    display: block;
    background-image: url("/images/team-member-headding.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    margin-top: 0;
    padding-bottom: 19px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #fff;
}

.member-description {
    display: block;
    text-align: center;
    padding: 0 25px;
    color: #fff;
    font-size: 13px;
}

.team-member-detail .social {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 18px 0;
}

.team-member-detail .social li {
    display: inline-block;
    margin: 0 2px;
}

.team-member-detail .social li a {
    color: #fff;
    padding: 0;
    font-size: 24px;
}

.team-member-section .team-inner a {
    text-align: center;
    display: block;
    padding: 28px 0;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    /*z-index: 999;*/
}

.text-center {
    text-align: center;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #2F2F2F;
}

.yama-tab > li.active > a, .yama-tab > li.active > a:focus, .yama-tab > li.active > a:hover {
    background-color: #00A9E0;
}

/*Video background*/
/* =-=-=-=-=-=-= html video-slider section for video homepage =-=-=-=-=-=-= */

#video-background {

}

.video-slider {
    top: 0%;
    left: 0%;
    /*
        max-height: 600px;*/
    height: calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    width: 100%;
    overflow: hidden;
}

.video-slider::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-caption {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.slider-caption h1 {
    color: #00a9e0;
    font-size: 75px;
    line-height: 80px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
}

.slider-caption h1 span {
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}

.slider-caption p {
    color: #FFFFFF;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.slider-caption .btn {
    font-size: 20px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;
    background-color: transparent;
    border-radius: 100% !important;
    padding: 30px;
    height: 70px;
    width: 70px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0) url(../images/down-arrow.svg) no-repeat center 50%;
}

.slider-caption .btn:hover, .slider-caption .btn:focus {
    color: #00A9E0;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .close {
    outline: none;
}

@media (max-width: 767px) {
    .video-slider {
        max-height: 400px;
    }

    .slider-caption h1 {
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0;
        margin-bottom: 0;
    }

    .slider-caption p {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .slider-caption .btn {
        font-size: 14px;
        padding: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slider-caption h1 {
        font-size: 33px;
        line-height: 56px;
    }

    .slider-caption p {
        font-size: 14px;
        margin-bottom: 25px;
    }
}

/* =-=-=-=-=-=-= youtube video section for youtube homepage =-=-=-=-=-=-= */

.youtube-wrapper {
    min-width: 100%;
    min-height: 600px;
    top: 0;
    left: 0;
    background: url(../../assets/images/slider/video-falback.jpg) no-repeat center center #162E4A;
    background-size: cover;
    position: relative;
}

/*for background opacity*/
.youtube-wrapper::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

@media (max-width: 766px) {
    .youtube-wrapper {
        min-height: 400px;
    }
}

.overlay {
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

video, object {
    min-width: 100%;
    min-height: 100%;
}

.icon-append {
    position: absolute;
    top: 42px;
    color: #999;
}

.pl20 {
    left: 20px;
}

.pl35 {
    left: 35px;
}

.relative {
    position: relative;
}

/*classified adv*/

.classified-adv {
    margin-top: 40px;
}

.classified-adv .thumbnail {
    padding: 0;
    border: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.home-thumb {
    height: 200px !important;
    width: 270px;
}

.thumbnail a > img, .thumbnail > img {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.classified-adv .adv-title a {
    color: #484848;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
}

.classified-adv .caption {
    padding: 0;
}

.classified-adv .thumbnail:hover, .classified-adv .thumbnail:focus {
    cursor: pointer;
}

/*.classified-adv .thumbnail:hover .pad-box, .classified-adv .thumbnail:focus .pad-box{
    padding-left: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}*/

.pad-box {
    padding-bottom: 1px;
    margin-bottom: 3px;
}

.thumb-box {
    margin-top: -5px;
    padding: 10px 10px 5px;
}

.btn-yama-round {
    border: 1px solid #00A9E0;
    box-shadow: none !important;
}

.btn-yama-default {
    background-color: #EEEEEE;
}

.btn-yama-primary {
    background-color: #00A9E0;
    color: #fff;
}

.btn-yama-primary:hover {
    background-color: #00aee7;
}

.btn-more {
    border: 1px solid #00A9E0;
    border-radius: 50px;
}

.btn-more:hover {
    background-color: #00A9E0;
    color: #fff;
    transition: 0.1s ease-in-out;
}

.adv-title h3 {
    margin-top: 5px;
    float: left;
}

.adv-title a:hover, .adv-title a:focus {
    text-decoration: none;
    color: #00A9E0;
    transition: 0.1s ease-in-out;
}

.label-price {
    float: right;
    margin-top: 12px;
    font-size: 13px;
    font-weight: normal;
    background-color: #00A9E0;
    padding: 3px 6px;
    border-radius: 0;
}

/* contact us*/

.contact-us textarea {
    height: 120px !important;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #00A9E0;
    color: #fff;
    font-size: 18px;
}

.btn-submit:disabled {
    background-color: #282828;
    color: #00A9E0;
}

.newsletter-section {
    background: #fff;
    padding: 100px 0;
}

.newsletter-section .form-control {
    height: 53px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 10px 15px;
    width: 100%;
}

.btn-subscribe {
    background-color: #00A9E0 !important;
    color: #fff !important;
    font-size: 18px;
    border-radius: 2px;
    padding: 12px 30px !important;
}

.form-yama .form-control {
    height: 40px;
    width: 100%;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.inner-search-bar .box-header, .yama-classified-list .box-header {
    /*color: #fff;*/
}

.inner-search-bar-top {
    background: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding-top: 15px;
}

.select-style {
    padding: 0;
    margin: 0;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.select-style select option {
    border: none;
    padding: 5px 10px;
}

.btn-yama {
    padding: 10px 15px;
}

.btn-yama:hover {
    transition: 0.1s ease-in-out;
}

.media-heading a {
    font-weight: bold;
}

.media-heading a:hover, .media-heading a:focus {
    text-decoration: none;
}

a:focus, a:hover {
    color: #484848;
}

.text-bold {
    font-weight: bold;
}

.yama-ad-attrib-btm {
    margin-top: 16px;
}

.yama-ad-date {
    margin-top: 13px;
}

.media {
    margin-top: 1px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
    border-radius: 0;
    border-bottom: none;
}

.yama-panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

.yama-panel-heading {
    border: none;
    padding: 18px 15px;
    font-size: 22px;
}

.yama-panel-body {
    padding: 15px 0;
}

.yama-panel-body .list-group {
    margin-bottom: 0;
}

.yama-panel-footer {
    border: none;
    text-align: center;
}

.yama-pagination {
    margin: 0 0 -3px;
}

.inner-search-bar {
    padding-bottom: 40px;
}

/*yama user profile */

.yama-user-profile-top {
    background: #607D8B;
    padding: 80px 0 40px;
}

.yama-user-pic {
    margin-top: 35px;
}

.yama-user-pic img {
    border-radius: 2px;
}

.yama-user-name {
    font-size: 22px;
    font-weight: bold;
    color: #00A9E0;
}

.yama-user-details {
    margin-top: 65px;
    text-align: right;
}

.yama-user-profile-btm {
    margin-top: 50px;
}

.yama-user-profile-main .yama-panel-body {
    padding: 10px 15px;
    min-height: 350px;
}

.yama-user-profile-main input[type="text"], .yama-user-profile-main .form-control[type="text"], .yama-user-profile-main input[type="password"], .yama-user-profile-main .form-control[type="password"] {
    border: none;
    border-radius: 0;
    box-shadow: 0 -1px 0 #dddddd inset;
    font-size: 16px;
    padding: 0 10px;
}

.yama-user-profile-main .form-control[type="text"]:focus, .yama-user-profile-main .form-control[type="password"]:focus {
    box-shadow: 0 -1px 0 #00A9E0 inset;
}

/*end yama user profile*/

/*yama classified list*/
.yama-classified-list-top {
    padding: 150px 0 50px;
}

.yama-classified-list-btm {
    margin-top: 50px;
}

.nav-yama {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
}

.nav-yama a {
    color: #757575;
}

.nav-yama > li + li {
    margin-top: 0;
}

.nav-yama li a:hover {
    border-radius: 0;
}

.nav-yama li.active a {
    border-radius: 0;
}

.nav-yama li:first-child a {
    border-radius: 2px 2px 0 0;
}

.nav-yama li:last-child a {
    border-radius: 0 0 2px 2px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #fff;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
    padding: 0;
    right: 45px !important;
}

.dropdown-menu > li > a {
    margin-right: 0 !important;
}

.dropdown-menu > li:first-child > a:hover {
    border-radius: 2px 2px 0 0;
}

.dropdown-menu > li:last-child > a:hover {
    border-radius: 0px 0px 2px 2px;
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#imgArea {
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#imgArea img {
    outline: medium none;
    vertical-align: middle;
    width: 100%;
}

#imgChange {
    background: url("../images/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    color: #FFFFFF;
    display: block;
    height: 30px;
    left: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#imgChange input[type="file"] {
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

/* Progressbar */
.progressBar {
    background: none repeat scroll 0 0 #E0E0E0;
    left: 0;
    padding: 3px 0;
    position: absolute;
    top: 50%;
    width: 100%;
    display: none;
}

.progressBar .bar {
    background-color: #FF6C67;
    width: 0%;
    height: 14px;
}

.progressBar .percent {
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 100%;
}

/* --------------------------------

xsigin/signup popup 

-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
    list-style: none;
}

.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}

.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}

.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}

@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }

    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}

.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
    margin-top: 0;
}

.cd-form .fieldset:last-child {
    margin-bottom: 0;
}

.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}

.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 25px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-form label.cd-username {
    background-image: url("../images/yama-user-icon.svg");
}

.cd-form label.cd-email {
    background-image: url("../images/yama-mail-icon.svg");
}

.cd-form label.cd-password {
    background-image: url("../images/yama-lock-icon.svg");
}

.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

.cd-form input.full-width {
    width: 100%;
}

.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.cd-form input.has-border:focus {
    border-color: #00A9E0;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.cd-form input.has-error {
    border: 1px solid #d76666;
}

.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}

.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #00A9E0;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    color: #333;
    outline: none;
}

.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}

.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}

.cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }

    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

.cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}

.cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../images/yama-close-icon.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}

.hr-through:before, .hr-through:after {
    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}

.hr-sepbox {
    text-align: center;
    margin-top: 20px;
    color: #999;
}

/* Prashanta Code Starts */
.advertisement {
    border: solid 1px #00A9E0;
    background: #3B4C4C;
    margin-top: 15px;
    padding-bottom: 0px;
}

ul.yama-ticker {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #555;
}

.advertisement-vertical {
    border: solid 1px #00A9E0;
    background: #3B4C4C;
    padding-bottom: 0px;
    position: relative;
}

.divAdVerticalBorder {
    color: white;
    background: #00A9E0;
    border: solid 1px white;
    padding-left: 5px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    position: absolute;
    top: 0px;
    left: 15px;
}

.navbar {
    z-index: 1040;
}

/* ****************************************** */
/* Card Flip CSS */
/* ****************************************** */
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flip-flipper, .flip-container.hover .flip-flipper {
    transform: rotateY(180deg);
}

.flip-container, .flip-front, .flip-back {
    /*width: 	320px;*/
    /*height: 480px;*/
}

/* flip speed goes here */
.flip-flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.flip-front, .flip-back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.flip-front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flip-back {
    transform: rotateY(180deg);
}

/* ****************************************** */
/* END_OF Card Flip Css */
/* ****************************************** */

/* Plan */
.pricing-table .plan {
    margin-left: 0px;
    border-radius: 5px;
    text-align: center;
    background-color: #f3f3f3;
    -moz-box-shadow: 0 0 6px 2px #b0b2ab;
    -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
    box-shadow: 0 0 6px 2px #b0b2ab;
}

.plan:hover {
    background-color: #fff;
    -moz-box-shadow: 0 0 12px 3px #b0b2ab;
    -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
    box-shadow: 0 0 12px 3px #b0b2ab;
}

.plan {
    padding: 20px;
    margin-left: 0px;
    color: #ff;
    background-color: #5e5f59;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.plan-name-bronze {
    padding: 20px;
    color: #fff;
    background-color: #665D1E;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.plan-name-silver {
    padding: 20px;
    color: #fff;
    background-color: #C0C0C0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.plan-name-gold {
    padding: 20px;
    color: #fff;
    background-color: #FFD700;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.pricing-table-bronze {
    padding: 20px;
    color: #fff;
    background-color: #f89406;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
    font-size: 20px;
}

.pricing-table .plan ul {
    list-style: none;
    margin: 0;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.pricing-table .plan ul li.plan-feature {
    padding: 15px 10px;
    border-top: 1px solid #c5c8c0;
    margin-right: 35px;
}

.pricing-three-column {
    margin: 0 auto;
    width: 80%;
}

.pricing-two-column {
    margin: 0 auto;
    width: 55%;
}

.pricing-variable-height .plan {
    float: none;
    margin-left: 2%;
    vertical-align: bottom;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.plan-mouseover .plan-name {
    background-color: #4e9a06 !important;
}

.btn-plan-select {
    padding: 8px 25px;
    font-size: 18px;
}

/* Plan */

.defaultImage {
    position: relative;
}

.product-wrapper {
    /*background: #fff;*/
    /*margin: 0 auto;*/
    /*margin-top: 25px;*/
    margin-bottom: 10px;
    border: 1px;
    border-radius: 0px;
}

/*********************************************
					PRODUCTS
*********************************************/

.product {
    border: 1px solid #dddddd;
    height: auto;
    padding: 5px 0px;
}

.product > img {
    max-width: 230px;
}

.product-rating {
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title {
    font-size: 20px;
    padding: 10px 0px 10px 14px;
}

.product-desc {
    font-size: 14px;
}

.product-price {
    font-size: 22px;
}

.product-details {
    font-size: 13px;
    margin-top: 10px;
}

.product-info {
    margin-top: 50px;
}

.product-location {

}

/*********************************************
				ITEM
*********************************************/

.service1-items {
    padding: 0px 0 0px 0;
    /*float: left;*/
    position: relative;
    overflow: hidden;
    max-width: 100%;
    /*height: 321px;
    width: 130px;*/
    margin-top: 10px;
}

.service1-item {
    /*height: 107px;
    width: 120px;
    float: left;*/
    display: inline-block;
    position: relative;
    /*padding-right: 20px;*/
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    max-height: 85px;
    max-width: 85px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    /*padding-right: 50px;*/
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left > center > img, .service-image-right > center > img {
    max-width: 265px;
    /*border: 1px solid red;
    padding: 5px;*/
}

.int-plan{
	padding-left: 0px;
}

.plan-features{
	padding-left: 	0px;
	text-align:		left;
}

.icon-panel {
    margin-top:5px;
}
/*classified widget*/
#sameHeight {
    min-height: 450px;
    max-height: 450px;
}
#sameHeightDis {
    min-height: 450px;
    max-height: 450px;
}
.thumbBlock
{
    position: relative;
}
.thumbBlock-footer
{
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 50px;
}

.box {
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
}
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #1e5799;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #1e5799;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}
.fa-times-circle
{
    color: white;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width:150px;
    height:150px;
}
input[type="file"] {
    display: none;
}
.file-upload:hover
{
    cursor: pointer;
}


#slider {
    width:500px;
    z-index: 15;
    bottom:100px;
    position:fixed;
}
#feedback-form{
    width: 330px;
    height:320px;
    position:absolute;
    right:0;
    color: #00A9E0;
    bottom: 100px;
    border:1px solid #d8d8d8;
    background-color: #F5F5F5;
    opacity: 1;
    margin-left:40px;
    padding:20px 40px;
    border-radius:3px;
    box-shadow:0 0 5px gray
}
#sidebar {
    position:absolute;
    bottom:180px;
    left:90px;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    box-shadow:0 0 5px gray;
}
#sidebar1 {
    position:absolute;
    bottom:180px;
    left:90px;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    /*box-shadow:0 0 8px gray*/
}
.comment-avatar {
    height: 40px;
    width: 40px;
}

/* FORUM */
.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}
/* DETAIL */
.forum .forum-post-panel {
    margin-bottom: 1em;
}

.forum.media-list li img.avatar {
    display: block;
    margin: 0 auto;
}

.forum.media-list li .user-info {
    text-align: center;
    width: 8em;
}

@media (max-width: 760px) {
    .forum.media-list li .user-info {
        float: none;
        width: 100%;
        margin-bottom: 1em;
    }
}