@media (max-device-width : 767px){
	.navbar-collapse{
    	background-color: #00A9E0;
	}
	.navbar-nav{
		margin: 0 -15px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	.navbar-nav li a:hover{
		color: #ddd;
	}
	.navbar-nav li{
		border-top: 1px solid rgba(255,255,255,.3);
		border-bottom: 1px solid rgba(0,0,0,.2);
		padding: 10px 0;
	}
	.navbar-nav li:first-child{
		border-top: none;
	}
	.header{
		background-color: #fff;
	}
}

@media only screen and (min-device-width:768px) and (max-device-width: 1023px){
	.navbar-default .navbar-nav li a{
		margin-right: 10px;
	}
}